body {
    font-family: 'Avenir';
    font-weight: 800;
    text-transform: uppercase;
}
#scroll-container {
    overflow: hidden;
    max-width: 100%;
    margin: auto;
    height: 50vh;
    top: 25vh;
    position: relative;
    min-height: 200px;
}
.wrap-container {
    position: relative;
    max-height: 200px;
    width: 100%;
    max-width: 100%;
    margin: auto;
    /* background: #eee;
     */
    overflow: auto;
    padding-right: 20px;
    mask: url(#masking);
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, rgba(0, 0, 0, 1)), color-stop(1, rgba(0, 0, 0, 0)));
}
.wrap-container ul {
    list-style: none;
    position: relative;
    transition: transform 0.3s;
    top: 50px;
}
.wrap-container ul, .wrap-container ul li {
    margin: 0;
    padding: 0;
    text-align: center;
}
.wrap-container ul li {
    height: 50px;
    line-height: 50px;
    transition: transform 0.3s;
    overflow: hidden;
}
.wrap-container ul li:last-of-type {
    padding-bottom: 50px;
}
.wrap-container ul li.active .item {
    transform: scale(1.9);
}
.wrap-container ul li .item {
    position: relative;
    transition: transform 200ms;
    display: inline-block;
}

